In [1]:
#!python -V

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-04-29 01:25:11,-54.8000,-68.3000,40.66,81,40,21.85
1,1,Swift Current,CA,2022-04-29 01:24:49,50.2834,-107.8014,56.21,28,0,10.36
2,2,Barrow,US,2022-04-29 01:25:12,71.2906,-156.7887,8.62,78,100,19.57
3,3,San Patricio,US,2022-04-29 01:23:58,28.0170,-97.5169,77.90,77,30,14.65
4,4,Port Alfred,ZA,2022-04-29 01:15:52,-33.5906,26.8910,66.34,53,4,8.43

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds= city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind= city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,San Patricio,US,2022-04-29 01:23:58,28.0170,-97.5169,77.90,77,30,14.65
6,6,Noumea,NC,2022-04-29 01:21:10,-22.2763,166.4572,75.99,99,100,19.84
9,9,Nelson Bay,AU,2022-04-29 01:15:51,-32.7167,152.1500,75.09,78,94,1.23
11,11,Tautira,PF,2022-04-29 01:15:42,-17.7333,-149.1500,80.37,74,25,22.17
14,14,Manokwari,ID,2022-04-29 01:25:15,-0.8667,134.0833,82.89,69,96,2.17
15,15,Rikitea,PF,2022-04-29 01:25:15,-23.1203,-134.9692,77.11,67,0,18.37
19,19,Butaritari,KI,2022-04-29 01:19:59,3.0707,172.7902,82.09,77,100,16.15
29,29,Samarai,PG,2022-04-29 01:23:14,-10.6167,150.6667,85.21,67,10,8.97
32,32,Kapaa,US,2022-04-29 01:25:21,22.0752,-159.3190,77.11,83,100,12.66
35,35,Tiarei,PF,2022-04-29 01:25:22,-17.5333,-149.3333,87.82,74,6,22.46

In [14]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3   San Patricio      US     77.90  28.0170  -97.5169
6         Noumea      NC     75.99 -22.2763  166.4572
9     Nelson Bay      AU     75.09 -32.7167  152.1500
11       Tautira      PF     80.37 -17.7333 -149.1500
14     Manokwari      ID     82.89  -0.8667  134.0833
15       Rikitea      PF     77.11 -23.1203 -134.9692
19    Butaritari      KI     82.09   3.0707  172.7902
29       Samarai      PG     85.21 -10.6167  150.6667
32         Kapaa      US     77.11  22.0752 -159.3190
35        Tiarei      PF     87.82 -17.5333 -149.3333

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,San Patricio,US,77.90,28.0170,-97.5169,"Motel 6 Sinton, TX"
6,Noumea,NC,75.99,-22.2763,166.4572,Hôtel Le Lagon
9,Nelson Bay,AU,75.09,-32.7167,152.1500,Mantra Nelson Bay
11,Tautira,PF,80.37,-17.7333,-149.1500,Pension Oaoa
14,Manokwari,ID,82.89,-0.8667,134.0833,Swiss Belhotel Manokwari
...,...,...,...,...,...,...
537,Lere,NG,75.92,10.3870,8.5726,
539,Jatiroto,ID,81.93,-7.8833,111.1167,Mushola Al Huda
542,Itaueira,BR,78.96,-7.6033,-43.0256,Pousada e Restaurante Cheiro e Sabor
551,Salaga,GH,79.07,8.5508,-0.5188,Bore Nada Guest House
552,Jamiltepec,MX,76.44,16.2833,-97.8167,Hotel Cádiz

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and marker for each city.
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))